{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": "3",
        "useBuiltIns": "usage",
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ],
  "sourceMaps": true,
  "retainLines": true
}
