{
  "all": true,
  "include": [
    "src/app/**/*.js"
  ],
  "exclude": [
    "**/*.spec.js",
    "**/*.test.js"
  ],
  "reporter": [
    "html",
    "text",
    "lcov"
  ],
  "sourceMap": false,
  "instrument": false,
  "check-coverage": true,
  "branches": 60,
  "lines": 70,
  "functions": 70,
  "statements": 70,
  "watermarks": {
    "lines": [70, 90],
    "functions": [70, 90],
    "branches": [60, 90],
    "statements": [70, 90]
  }
}
